{% extends 'base.html.twig' %}

{% block title %}Login!{% endblock %}

{% block body %}

    {# <div class="container col-lg-12">
        <div class="clear"></div>
        <br><br><br>
        <div class="login-head">
            <br><br>
            <h1>Entrez votre Nom</h1>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem facilis molestias totam.</p>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="firstname" placeholder="Votre Prénom">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="lastname" placeholder="Votre Nom">
        </div>
        <button type="submit" class="btn btn-white">Confirmer</button>
    </div>
    #}

    <div class="form-container sign-in-container">

        <form action="#" method="post">
            <h1>Entrez votre nom</h1>
            <input type="text" name="firstname" placeholder="Prénom" class="login-input">
            <input type="text" name="lastname" placeholder="Nom" class="login-input">
            <button>S'identifier</button>

        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-right">
                <div class="brand-login">Orgabat</div>
                <p>Testez vos connaissances!</p>
            </div>
        </div>
    </div>

{% endblock %}